<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dragablz" version="0.0.3.190" targetFramework="net46" />
  <package id="MaterialDesignColors" version="1.1.2" targetFramework="net46" />
  <package id="MaterialDesignThemes" version="2.2.1.750" targetFramework="net46" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net46" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net46" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net46" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net46" />
  <package id="Microsoft.ProjectOxford.Common" version="1.0.324" targetFramework="net46" />
  <package id="Microsoft.ProjectOxford.Emotion" version="1.0.336" targetFramework="net46" />
  <package id="Microsoft.ProjectOxford.Face" version="1.3.0" targetFramework="net46" />
  <package id="Microsoft.ProjectOxford.SpeechRecognition-x64" version="1.0.0.6" targetFramework="net46" />
  <package id="Microsoft.ProjectOxford.Text" version="1.0.6.35777" targetFramework="net46" />
  <package id="Microsoft.ProjectOxford.Vision" version="1.0.393" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net46" />
  <package id="Nito.AsyncEx" version="4.0.1" targetFramework="net46" />
  <package id="OpenCvSharp3-AnyCPU" version="3.2.0.20170324" targetFramework="net46" />
</packages>